h1 {
  color: #212121;
}
body {
  background-color: #F5F5F5;
}
#top-toolbar,
paper-tabs {
  background-color: #009688;
  color: white;
}
#top-fab {
  background-color: #FFEB3B;
}
main-title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  width: 100%;
  max-width: 600px;
}
paper-material {
  background-color: white;
  padding: 50px;
}
paper-tab[aria-selected] {
  color: #FFEB3B;
}
h3 a {
  color: #212121;
}
